
//
// Colors
//

@black:         #353535

@gray:          lighten(@black, 20%)
@gray-light:    lighten(@black, 50%)


@white:         #efefef

@red:           #ce4848
@red-light:     lighten(@red, 20%)
@red-dark:      darken(@red, 20%)

@blue:          #5bb3e0
@blue-light:    lighten(@blue, 20%)
@blue-dark:     darken(@blue, 20%)

@green:         #8ab74a
@green-light:   lighten(@green, 20%)
@green-dark:    darken(@green, 20%)

@violet:        #975be0
@violet-light:  lighten(@violet, 20%)
@violet-dark:   darken(@violet, 20%)



//
// Typography
//

.font-face("Open Sans")

@fonts: "Open Sans", sans-serif

